<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> styles}}
    {{> scripts}}
    <title>hodavidhara</title>
</head>
<body>
<div id="nav">
    {{> nav}}
</div>
<div class="main">
    {{{@body}}}
</div>
</body>
</html>