<!DOCTYPE html>
<html>
<head>
    {{> styles}}
    {{> scripts}}
    <title>hodavidhara</title>
</head>
<body>
<div class="ui two column grid">

    <div class="ui fourteen wide column">
        {{{@body}}}
    </div>
    <div class="ui two wide column">
        {{> nav}}
    </div>
</div>
</body>
</html>