<!DOCTYPE html>
<html>
<head>
    {{> styles}}
    {{> scripts}}
    <title>hodavidhara</title>
</head>
<body>
<div class="ui two column grid">

    <main class="ui fourteen wide column">
        {{{@body}}}
    </main>
    <nav class="ui two wide column">
        {{> nav}}
    </nav>
</div>
</body>
</html>