<a href="{{html_url}}" class="project-card card">
    <div class="content">
        <div class="title">{{name}}</div>
        <span>{{description}}</span>
        <span class="right">Latest commit: {{dateFormat pushed_at}}</span>
    </div>
</a>