<a href="{{html_url}}" class="project-card ui teal fluid card">
    <div class="ui left aligned content">
        <div class="ui large header">{{name}}</div>
        <span>{{description}}</span>
        <span class="right floated">Latest commit: {{dateFormat pushed_at}}</span>
    </div>
</a>