<div class="icon">
    <i class="fa fa-bars"></i>
</div>
<div class="overlay"></div>
<div class="pure-menu menu">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a> </li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/projects">Projects</a> </li>
    </ul>
</div>