<div class="ui right fixed vertical menu">
    <div class="ui center aligned container">
        <a class="item" href="/"><h2 class="ui header">Home</h2></a>
        <a class="item" href="/projects"><h2 class="ui header">Projects</h2></a>
    </div>
</div>