@import "mixins";
@import "nav";
@import "projectcard";

// Box sizing
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Fonts
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: @brand-font-family;
  font-weight: 300;
  font-size: 1.5em;
  color: @brand-font-color;

  @media @phone, @tablet {
    font-size: 1em;
  }
}
h1 {
  font-weight: bolder;
}

// Main
.main {
  max-width: 50em;
  margin: 0 auto 2em;
}

.header {
  text-align: center;
}

.content {
  margin: 1em;
}

// Index page
.splash {
  padding-top: 4em;
}

.splash .header {
  font-size: 4em;
}

// Project page
.project-card {
  color: @brand-font-color;

  &:hover {
    color: @brand-font-color;
  }
}